
#home{
    color: brown;
    text-align: center;
    margin-top: 100px;
    font-family: cursive;
}
#about{
    color: brown;
    text-align: center;
    margin-top: 100px;
    font-family: cursive;
}

.navbar1{
    list-style-type: none;
    display: flex;
    justify-content: end;
    
}
.nav-item1{
    padding:0 10px;
    margin: 0 20px;
    font-size: 1.5rem;  
}
div p{
    text-align: center;
    margin-top: 100px;
}